**/.git
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/.idea
**/.DS_Store
**/Thumbs.db
**/*.log
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/README.md

